version: 2.1

orbs:
  go: circleci/go@1.5.0

jobs:
  build:
    parameters:
      go-version:
        type: string
        default: "1.12"
    executor:
      name: go/default
      tag: << parameters.go-version >>
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - go/test:
          race: true
          verbose: true
  publish_github:
    docker:
      - image: cibuilds/github:0.13.0
    steps:
      - run:
          name: "GHR Draft"
          command: ghr -draft -n ${CIRCLE_TAG} -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} ${CIRCLE_TAG}

workflows:
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - test: &test
          matrix:
            parameters:
              go-version:
                - "1.12"
                - "1.13"
                - "1.14"
  build:
    jobs:
      - test:
          <<: *test
          filters:
              tags:
                only: /.*/
      - publish_github:
          filters:
              tags:
                only: /^v.*/
              branches:
                ignore: /.*/
          requires:
            - test
